* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
   width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.dashboard{
  display:flex;
  min-height:100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}


.sidebar{
  width:220px;
  min-width: 220px;
  height: 100vh; 
  background:linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),
  url(https://images.squarespace-cdn.com/content/v1/6740fa5cf32dde6b03917416/3c03a962-2c40-4e78-8c93-98af7414b96e/trivia+quiz+bg.jpeg);
  background-size:cover;
  background-position:center;
  color:white;
  padding:25px 20px;
  display:flex;
  flex-direction:column;
  flex-shrink: 0;
}



.logo{
  display:flex;
  align-items:center;
  gap:10px;
  font-weight:bold;
  font-size:16px;
  margin-bottom:40px;
}

.logo img{
  width:28px;
}
.footlogo{
  width:20px;
}




.sidebar nav{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.sidebar a{
  color:white;
  text-decoration:none;
  padding:10px 15px;
  border-radius:20px;
  font-size:14px;
  transition:0.2s;
}




.sidebar a:hover{
  background:#c9a6d6;
}




.sidebar a.active{
  background:#c9a6d6;
  font-weight:bold;
}


.content{
  flex:1;
  background:#7f6888;
  padding:40px;
  color:white;
  display:flex;
  flex-direction:column;
  min-height:100vh;
  width: 100%;

}



.header h1{
  margin:0;
  font-size:26px;
  color:#e5d7ea;
}

.header p{
  margin-top:6px;
  color:#e5d7ea;
}
.screen-container {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.welcome-box, .question-container {
  background: linear-gradient(135deg, #9c7af1 100%, #5c7cfa 20px); 
  padding: 40px 30px;
  border-radius: 30px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  text-align: center; 
  width: 100%;
 
}


.big-heart {
  font-size: 60px;
  display: block;
  margin-bottom: 20px;
  animation: pulse 2s infinite;
}

h1 {
  color: #ffffff;
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.welcome-box p {
  color: #686868;
  line-height: 1.6;
  margin-bottom: 30px;
}


.count {
  font-size: 0.9rem;
  color: #ff758c;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.question-box {
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.question-box h2 {
  font-size: 1.6rem;
  color: #333;
  font-weight: 500;
  line-height: 1.4;
  font-style: italic; 
}


.main-btn{
  background: rgba(255, 255, 255, 0.1); border: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border: none;
  padding: 16px 32px;
  border-radius: 15px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
 
}
.next-btn, .quit {
  background: rgba(255, 255, 255, 0.1); border: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border: none;
  padding: 16px 32px;
  border-radius: 15px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  
 
}



.main-btn:hover, .next-btn:hover, .quit:hover {
  background: #c9a6d6; 
  border: 1px solid rgba(255, 255, 255, 0.2);
  transform: translateY(-3px);
 
  border-radius: 15px;border-color: rgb(0, 0, 0); 
}

.back-link {
  background: none;
  border: none;
  color: #c7c7c7;
  margin-top: 20px;
  cursor: pointer;
  font-size: 0.95rem;
  text-decoration: underline;
}
.back-link:hover {
  color: #000;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}





footer{
  margin-top:auto;
  display:flex;
  justify-content:flex-end;
  color:#eee;
  font-size:14px;
}
.footer-content{
  text-align:right;
}

.footer-content span{
  font-size:16px;
  font-weight:bold;
}

.footer-content p{
  margin:0%;
  font-size:12px;
  opacity:0.8;
}

.mobile-nav{
  display: none;
}


@media (max-width: 900px){

  .dashboard{
    flex-direction:column;
  }

  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;
    z-index: 1000;
  }

  .sidebar nav{
    flex-direction:row;
    flex-wrap:wrap;
    gap:10px;
    display: none; 
  }
  .mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    height: 65px;
    background:linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),
    url(https://images.squarespace-cdn.com/content/v1/6740fa5cf32dde6b03917416/3c03a962-2c40-4e78-8c93-98af7414b96e/trivia+quiz+bg.jpeg);
    backdrop-filter:  blur(10px);
    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 1000;
    box-shadow: 0 -4px 15px rgba(0,0,0,0.2);
  }

  .mobile-nav a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    transition: 0.2s;
  }

  .mobile-nav a:hover {
    transform: scale(1.2);
  }

  .mobile-nav a.active {
    color: #ffd6ff;
  }

  .content{
    padding:30px;
    margin-top: 50px; 
    margin-bottom: 50px;
  }


  .cards{
    flex-direction:column;
    align-items:center;
    gap:30px;
  }

  .card{
    width:90%;
  }

 

  footer{
    justify-content:center;
    margin-top:40px;
  }

}